@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --black: #000001;
  --black2: #474743;
  --black3: #777777;
  --black-50: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
  --white2: #f2f2f2;
}

p {
  font-size: 16px;
}
h6 {
  font-size: 20px;
}
h5 {
  font-size: 24px;
}
h4 {
  font-size: 100px;
}
h3 {
  font-size: 150px;
}
h2 {
  font-size: 250px;
}
h1 {
  font-size: 600px;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  place-self: center;
}

@media screen and (width <= 1440px) {
  .container {
    padding: 0 10px;
  }
}

/* button */
.button-main {
  width: fit-content;
  height: 40px;
  font-size: 16px;
  background-color: var(--black);
  border-radius: 5px;
  color: var(--white);
  font-weight: 500;
  padding: 0 20px;
  cursor: pointer;
  border: transparent;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button-main:hover {
  background-color: #414141;
  transition: 0.2s;
}
.button-main:active {
  background-color: #757575;
}
.button-main-inactive {
  pointer-events: none;
  background-color: var(--black3);
}

.button-second {
  width: fit-content;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  color: var(--black);
  border: 2px solid var(--white2);
  padding: 0 20px;
  background-color: transparent;
  cursor: pointer;
}
.button-second:hover {
  border: 2px solid var(--black3);
  transition: 0.2s;
}
.button-second:active {
  background-color: #dfdfdf;
}

/* loading */
.loading-button {
  width: 20px;
  height: 20px;
}
.loading-button img {
  width: 100%;
  animation: loading 0.7s linear infinite;
}

.loading-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-page img {
  width: 70px;
  animation: loading 0.7s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* alert */
.alert-failed {
  position: fixed;
  width: 280px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 10;
  gap: 20px;
  background: #b10303;
  background: linear-gradient(
    90deg,
    rgba(177, 3, 3, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 5px;
  color: var(--white);
  padding: 0 20px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  animation: alert 7s ease;
}
.alert-success {
  position: fixed;
  width: 280px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 10;
  gap: 20px;
  background: #076d0c;
  background: linear-gradient(
    90deg,
    rgba(7, 109, 12, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 5px;
  color: var(--white);
  padding: 0 20px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  animation: alert 7s ease;
}

@keyframes alert {
  0% {
    transform: translate(-50%, 0); /* Tetap di luar viewport */
    opacity: 0;
  }
  10% {
    transform: translate(-50%, 120px); /* Masuk ke layar */
    opacity: 1;
  }
  90% {
    transform: translate(-50%, 120px); /* Tetap di tempat */
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 0); /* Keluar layar lagi */
    opacity: 0;
  }
}

/* popup */
.popup-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 1, 0.5);
  z-index: 1;
  animation: popup-wrap 0.4s ease-in-out;
}
@keyframes popup-wrap {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.popup-content {
  padding: 10px;
  background-color: var(--white);
  border-radius: 10px;
  width: fit-content;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: popup-content 0.5s ease-in-out;
}
@keyframes popup-content {
  0% {
    opacity: 0;
    transform: translate(-50%, 200px);
  }
  100% {
    opacity: 100%;
    transform: translate(-50%, -50%);
  }
}
